<html lang ="en">
<head>
	<link rel ="stylesheet" 
	href ="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity ="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin ="anonymous">
	<title>Poll Mall {% block title %}{% endblock %}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap" rel="stylesheet">
</head>
<style>
	*{
		font-family: "Montserrat", sans-serif;
	}
</style>
<body>
	<!--NavBar-->
	{% include 'partials/_navbar.html'%}
	<div class ="container">
		<div class ="row">
			<div class =".col-md-3 m-auto">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>